/* ==== VARIABLES ================ */

:root{
    --page: #000000;
    --bg: #000000;
    --fg: #CCCCCC;
    --dividers: #262626;
    --offset: #408080;
}

/* ==== BASIC ELEMENTS ================ */
  
body{
    font-family: Quicksand, Ariel;
    background-color: var(--page);
    color: var(--fg);
    width: 1504px;
    min-height: 1000px;
}

h1{
    font-size: 14pt;
    font-weight: bold;
    margin: 4px;
}

h2{
    font-size: 12pt;
    font-weight: bold;
    margin: 4px;
}

p{
    font-size: 12pt;
    margin: 5px;
    text-align: justify;
}

p.navigation{
    margin: 5px;
}

ul{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12pt;
}

a{
    border-radius: 5px;
    border: 1px solid #408080;
    font-size: 11pt;
    color: #408080;
    background-color: #0d1a1a;
    text-decoration-color: #408080;
    text-decoration: none;
}

b.item{
    color: var(--offset);
}

/* ==== DIVs ================ */

div{
    border: 0px solid var(--fg);
    float: left;
    background-color: var(--bg);
    margin: 0px;
}


div.intro_inset{width: 800px; height: 030px; border: 1px solid var(--dividers);}
div.intro_panel{width: 800px; height: 392px; border: 1px solid var(--dividers);}

div.progress_inset{width: 700px; height: 030px; border: 1px solid var(--dividers);}
div.progress_panel{width: 700px; height: 392px; border: 1px solid var(--dividers);}

div.oconus_panel{width: 500px; height: 118px;  border: 1px solid var(--dividers);}
div.side_panel{width: 500px; height: 600px;  border: 1px solid var(--dividers);}
div.main_panel{width: 1000px; height: 720px; border: 1px solid var(--dividers);}

div.tool_thumbnail{width: 300px; height: 200px; border: 1px solid var(--dividers);}
div.tool_text{width: 1200px; height: 200px; border: 1px solid var(--dividers);}

div.navigation{width: 1502px; height: 30px; border: 1px solid var(--dividers);}


/* ==== SPARE PARTS ================ */

div.bottom_text{width: 300px; height: 720px; border: 1px solid var(--dividers);}
div.bottom_panel{width: 1200px; height: 720px; border: 1px solid var(--dividers);}