/* ==== VARIABLES ================ */

:root{
    /*--light: #F2F9FF;
    --dark: #143D66;
    --page_bg: #FFFFFF;*/
    --page_bg: #000000;
    --light: #000000;
    --dark: #FFFFFF;
    --dividers: #202020;
}

/* ==== BASIC ELEMENTS ================ */
  
body{
    font-family: Quicksand, Ariel;
    background-color: var(--page_bg);
    color: var(--dark);
    width: 1604px;
    min-height: 1000px;
}

h1{
    font-size: 14pt;
    font-weight: bold;
    margin: 4px;
}

h2{
    font-size: 12pt;
    font-weight: bold;
    margin: 4px;
}

p{
    font-size: 11pt;
    margin: 4px;
    text-align: justify;
}

p.navigation{
    margin: 5px;
}

ul{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
}

a{
    border-radius: 5px;
    border: 1px solid #406080;
    font-size: 11pt;
    color: #406080;
    background-color: #101820;
}


/* ==== DIVs ================ */

div{
    border: 0px solid var(--dark);
    float: left;
    background-color: var(--light);
    margin: 0px;
}

div.side_inset{width: 400px; height: 050px;  border: 1px solid var(--dividers);}
div.oconus_panel{width: 400px; height: 118px;  border: 1px solid var(--dividers);}
div.side_panel{width: 400px; height: 600px;  border: 1px solid var(--dividers);}


div.facet_inset{width: 800px; height: 030px; border: 1px solid var(--dividers);}
div.facet_panel{width: 800px; height: 400px; border: 1px solid var(--dividers);}

div.main_inset{width: 1200px; height: 050px; border: 1px solid var(--dividers);}
div.main_panel{width: 1200px; height: 720px; border: 1px solid var(--dividers);}

div.bottom_panel{width: 1300px; height: 400px;  border: 1px solid var(--dividers);}
div.corner_panel{width: 0300px; height: 400px; border: 1px solid var(--dividers);}

div.navigation{width: 1602px; height: 30px; border: 1px solid var(--dividers);}